.window{
    width: 80%;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    left:26.5vh;
    box-sizing: border-box;
  }
  
  .window-title-div{
    border-bottom: 1px solid rgb(79, 79, 79);
    width:auto;
    padding-bottom: 20px;
    position: sticky;
  }
  
  .window-content-div{
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
  }
  